{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% block content %}
<div class="container-fluid h-100 vh-100">
  <div class="row h-100">
    <div class="col-6 h-100 d-flex align-items-center justify-content-center bg-primary p-0">
      <div class="text-center">
        <div class="d-inline-block logo-container">
          <img class="logo img-fluid" src="static/images/logo.png" alt="Logo">
        </div>
        <h1 class="logo-text">TRADING JOURNAL</h1>
      </div>
      <div>
        
      </div>
    </div>
    <div class="col-6 h-100 d-flex align-items-center justify-content-center bg-light p-0">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        <h2>{% trans "Sign In" %}</h2>
        {% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">Sign up</a> first.{% endblocktrans %}</p>
        {% csrf_token %}
        <input type="text" name="login" class="form-input" placeholder="Username">
        <input type="password" name="password" class="form-input" placeholder="Password">
        {% if form.errors %}
        <div class="alert alert-danger">
          {% for field in form %}
          {% for error in field.errors %}
          <p>{{ error }}</p>
          {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
          <p>{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="button secondaryAction"
          href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a><br>
        <button class="btn btn-primary mt-3" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}