{% extends "account/base.html" %}

{% load i18n %}
{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-6 vh-100 d-flex align-items-center justify-content-center bg-primary p-0">
      <div class="logo-container d-flex flex-column align-items-center justify-content-center">
        <img class="img-fluid" src="{% static 'images/logo.png' %}" alt="Logo">
      </div>
    </div>
    <div class="col-6 d-flex align-items-center justify-content-center bg-light p-0">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        <h2>{% trans "Sign In" %}</h2>
        {% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">Sign up</a> first.{% endblocktrans %}</p>
        {% csrf_token %}
        <input type="text" name="login" class="form-input" placeholder="Username">
        <input type="password" name="password" class="form-input" placeholder="Password">
        {% if form.errors %}
        <div class="alert alert-danger">
          {% for field in form %}
          {% for error in field.errors %}
          <p>{{ error }}</p>
          {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
          <p>{{ error }}</p>
          {% endfor %}
        </div>
        {% endif %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <br>
        <a class="secondaryAction"
          href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a><br>
        <button class="btn btn-primary mt-3 mr-2" type="submit">{% trans "Sign In" %}</button>
        <a href="" class="btn btn-dark mt-3">View Example Trade Journal</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}