{% extends "account/base.html" %}

{% load i18n %}

{% block content %}
<div class="container-fluid h-100 vh-100">
  <div class="row h-100">
    <div class="col-6 h-100 d-flex align-items-center justify-content-center bg-white">


    </div>
    <div class="col-6 h-100 d-flex align-items-center justify-content-center bg-light">
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
        <p>{% blocktrans %}If you have not created an account yet, then please
          <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    </div>
  </div>
</div>



{% endblock %}