@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Patrick+Hand+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patrick Hand SC', cursive;
}

form > h2 {
    margin-bottom: 16px;
}

h1, h2 {
    font-family: 'Nerko One', cursive;
    color: #292b2c;
}

.login {
    width: 60%;
}

.form-input {
    border: 3px solid #007bff;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.alert > p {
    margin: 0;
}

.table, .table > thead > tr > th {
    border: 1px solid #292b2c;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-weight: normal;
}

.table td {
    vertical-align: middle !important;
}

.socials {
    color: white;
    padding: 0 25px 0 25px;

}

.socials:hover {
    text-decoration: none;
    color: #007bff;
}

@media (max-width: 767.98px) { 
    * {
        font-size: 14px;
    }

 }

 @media (max-width: 660px) { 
    * {
        font-size: 12px;
    }

 }