@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Amaranth&family=Anton&family=Architects+Daughter&family=Bebas+Neue&family=Bubblegum+Sans&family=Bungee&family=Concert+One&family=Covered+By+Your+Grace&family=Crete+Round&family=Fira+Sans+Condensed:wght@300&family=Hammersmith+One&family=Josefin+Sans&family=Knewave&family=Markazi+Text&family=Outfit&family=PT+Sans+Narrow&family=Passion+One&family=Rubik+Mono+One&family=Sansita&family=Secular+One&family=Sniglet&family=Squada+One&family=Teko&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Architects Daughter', cursive;
}

h1, h2 {
    color: #292b2c;
    font-family: 'Knewave', cursive;

}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-toggler {
    color: white;
    border: 2px solid white;
}

form > h2 {
    margin-bottom: 16px;
}

.login {
    width: 60%;
}

.form-input {
    border: 3px solid #007bff;
    border-radius: 4px;
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.alert > p {
    margin: 0;
}

.table, .table > thead > tr > th {
    border: 2px solid #292b2c;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-weight: normal;
}

.table td {
    vertical-align: middle !important;
    color: #292b2c;
}

.socials {
    color: white;
    padding: 0 25px 0 25px;

}

.socials:hover {
    text-decoration: none;
    color: #007bff;
}

@media (max-width: 767.98px) { 
    * {
        font-size: 14px;
    }

 }

 @media (max-width: 660px) { 
    * {
        font-size: 12px;
    }

 }