{% extends "account/base.html" %}

{% load i18n %}

{% block content %}

<div class="container">
    <div class="row vh-100 d-flex justify-content-center">
        <div class="col-md-8">
            <h2 class="mt-5 mb-3">{{ user }}'s Journals:</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">NAME</th>
                        <th scope="col">CURRENCY</th>
                        <th scope="col">BALANCE</th>
                        <th scope="col">WIN RATE</th>
                        <th scope="col">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    {% for journal in journals %}
                    <tr>
                        <td>{{ journal.name }}</td>
                        <td>{{ journal.currency }}</td>
                        <td>{{ journal.symbol }}{{ journal.starting_balance }}</td>
                        <td>TBC</td>
                        <td class=" d-flex justify-content-between">
                            <button type="button" class="btn btn-outline-success"><a
                                    href="{% url 'trades' journal.id %}">View</a></button>
                            <button type="button" class="btn btn-outline-secondary"><a
                                    href="{% url 'update-journal' journal.id %}">Edit</a></button>
                            <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                                data-target="#deleteModal{{ journal.id }}">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="button" class="btn btn-outline-success"><a href="{% url 'jform' %}">Add Journal</a></button>
        </div>
    </div>
</div>

{% for journal in journals %}
<div class="modal fade" id="deleteModal{{ journal.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Journal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete the journal "{{ journal.name }}"?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                <form method="post" action="{% url 'journals' %}">
                    {% csrf_token %}
                    <input type="hidden" name="journal_id" value="{{ journal.id }}">
                    <input type="submit" class="btn btn-outline-danger" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}