{% extends "account/base.html" %}

{% load i18n %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="mt-5 mb-3">{{ user }}'s Journals:</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">CURRENCY</th>
                        <th scope="col">NAME</th>
                        <th scope="col">BALANCE</th>
                        <th scope="col">WIN RATE</th>
                        <th scope="col">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    {% for journal in journals %}
                    <tr>
                        <td>{{ journal.currency }}</td>
                        <td>{{ journal.name }}</td>
                        <td>{{ journal.symbol }}{{ journal.starting_balance }}</td>
                        <td>TBC</td>
                        <td>
                            <button type="button" class="btn btn-outline-success"><a href="{% url 'trades' journal.id %}">View</a></button>
                            <button type="button" class="btn btn-outline-secondary">Edit</button>
                            <button type="button" class="btn btn-outline-danger">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="button" class="btn btn-outline-success">Add Journal</button>
        </div>
    </div>
</div>
{% endblock %}