{% extends "account/base.html" %}

{% load i18n %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <h2 class="mt-5 mb-3">Add Trade:</h2>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit">
                <button type="button" class="btn btn-outline-secondary"><a href="{% url 'journals' %}">Back</a></button>
            </form>
        </div>
    </div>
</div>

{% endblock %}