{% extends "account/base.html" %}

{% load i18n %}

{% block content %}

<div class="container-fluid">
    <div class="row vh-100 justify-content-center">
        <div class="col col-sm-12 col-md-11 col-xl-8">
            <h2 class="mt-5 mb-3">{{ journal.name }}</h2>
            <table class="table">
                <thead class="bg-primary">
                    <tr>
                        <th scope="col">Trade Type</th>
                        <th scope="col">Date Time</th>
                        <th scope="col">Profit/Loss</th>
                        <th scope="col">Result</th>
                        <th scope="col">Image</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    {% for trade in trades %}
                        <td>{{ trade.trade_type }}</td>
                        <td>{{ trade.datetime }}</td>
                        <td>{{ journals.0.symbol }}{{ trade.profit_loss }}</td>
                        <td>{{ trade.result }}</td>
                        <td>{{ trade.image_link }}</td>
                        <td>
                            <a class="btn btn-primary mr-1" href="{% url 'update-trade' journal.id trade.id %}">Edit</a>
                            <button type="button" class="btn btn-dark" data-toggle="modal"
                                data-target="#deleteModal{{ trade.id }}">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-dark" href="{% url 'tform' journal.id %}">Add Trade</a>
            <a class="btn btn-primary" href="{% url 'journals' %}">Back</a>
        </div>
    </div>
</div>

{% for trade in trades %}
<div class="modal fade" id="deleteModal{{ trade.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Trade</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this trade?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                <form method="post" action="{% url 'trades' journal.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="trade_id" value="{{ trade.id }}">
                    <input type="submit" class="btn btn-outline-danger" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}