{% extends "account/base.html" %}

{% load i18n %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <h2 class="mt-5 mb-3">{{ journal.name }}</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">TIME</th>
                        <th scope="col">DATE</th>
                        <th scope="col">TRADE TYPE</th>
                        <th scope="col">PROFIT/LOSS</th>
                        <th scope="col">RESULT</th>
                        <th scope="col">COMMENTS</th>
                        <th scope="col">IMAGE LINK</th>
                        <th scope="col">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    {% for trade in trades %}
                    <tr>
                        <td>{{ trade.time }}</td>
                        <td>{{ trade.date }}</td>
                        <td>{{ trade.trade_type }}</td>
                        <td>{{ journals.0.symbol }}{{ trade.profit_loss }}</td>
                        <td>{{ trade.result }}</td>
                        <td>{{ trade.comments }}</td>
                        <td>{{ trade.image_link }}</td>
                        <td>
                            <button type="button" class="btn btn-outline-secondary"><a
                                    href="{% url 'update-trade' journal.id trade.id %}">Edit</a></button>
                            <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                                data-target="#deleteModal{{ trade.id }}">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="button" class="btn btn-outline-success"><a href="{% url 'tform' journal.id %}">Add
                    Trade</a></button>
            <button type="button" class="btn btn-outline-secondary"><a href="{% url 'journals' %}">Back</a></button>
        </div>
    </div>
</div>

{% for trade in trades %}
<div class="modal fade" id="deleteModal{{ trade.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Trade</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this trade?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                <form method="post" action="{% url 'trades' journal.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="trade_id" value="{{ trade.id }}">
                    <input type="submit" class="btn btn-outline-danger" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}