{% extends "account/base.html" %}

{% load i18n %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col">
            <h2 class="mt-5 mb-3">{{ journals.0.name }}</h2>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">TIME</th>
                        <th scope="col">DATE</th>
                        <th scope="col">TRADE TYPE</th>
                        <th scope="col">PROFIT/LOSS</th>
                        <th scope="col">RESULT</th>
                        <th scope="col">COMMENTS</th>
                        <th scope="col">IMAGE LINK</th>
                        <th scope="col">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    {% for trade in trades %}
                    <tr>
                        <td>{{ trade.time }}</td>
                        <td>{{ trade.date }}</td>
                        <td>{{ trade.trade_type }}</td>
                        <td>{{ journals.0.symbol }}{{ trade.profit_loss }}</td>
                        <td>{{ trade.result }}</td>
                        <td>{{ trade.comments }}</td>
                        <td>{{ trade.image_link }}</td>
                        <td>
                            <button type="button" class="btn btn-outline-secondary">Edit</button>
                            <button type="button" class="btn btn-outline-danger">Delete</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#addTradeModal">Add
                Trade</button>
            <button type="button" class="btn btn-outline-secondary"><a href="{% url 'journals' %}">Back</a></button>
        </div>
    </div>
</div>
<!-- Modal Code -->
<div class="modal fade" id="addTradeModal" tabindex="-1" role="dialog" aria-labelledby="addTradeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTradeModalLabel">Add Journal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-success">Save</button>
                        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}